<!DOCTYPE html>
<html>
  <head>
    <title><%=data[0].title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>

  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

  <body>
    
  <div class="w3-top">
    <div class="w3-bar w3-light-green w3-large">
      <div class="user">
        <% if(user.username){ %>
        <a href="/user/modify" class="w3-bar-item w3-button w3-hide-small
            w3-padding-large w3-hover-white">Welcome，<%= user.username %></a>
          <a href="/user/logout" class="w3-bar-item w3-button w3-hide-small
            w3-padding-large w3-hover-white">Logout</a>
        <% }else{ %>
            <a href="/user/reg" title="Inscription" class="w3-bar-item w3-button w3-hide-small
            w3-padding-large w3-hover-white">Inscription</a>
            <a href="/user/login" title="Connexion" class="w3-bar-item w3-button w3-hide-small
            w3-padding-large w3-hover-white">Connexion</a>
        <% } %>
      </div>
    </div>
  </div>